# System
.DS_Store
*.swp
*.tb

# Python
*.egg-info/
.idea/
.ipynb_checkpoints/
.mypy_cache/
__pycache__/
venv/

# Generated data
*generated*/

# Diana
diana*.out
diana.ff
diana*.dat

# Axis
*.axr
**/Revisions/
