.DS_Store
*.swp
*.tb
*.auctex-auto
*.egg-info/
.idea/
.mypy_cache/
__pycache__/
venv/

# Code & generated data
code/config_sys.py
generated*/

# Diana related
diana*.out
diana.ff
diana*.dat

# Axis related
*.axr
**/Revisions/
