[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pydeps = "*"
pdoc3 = "*"

[packages]
mycode = {path = "./code",editable = true}
click = "*"
colorama = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pathos = "*"
scipy = "*"
sklearn = "*"
termcolor = "*"
filelock = "*"
portalocker = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[pipenv]
allow_prereleases = true
