[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
jupyterlab = "*"
pytest = "*"
pydeps = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
src = {path = "./src",editable = true}
click = "*"
colorama = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pathos = "*"
portalocker = "*"
scipy = "*"
sklearn = "*"
termcolor = "*"
findup = "*"
pypandoc = "*"

[pipenv]
allow_prereleases = true
